
:root { 
  
}
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.calc2,
.calculator,


.calc2 {
  text-align: center;
  margin: 0 auto;
  background-image: none; 
  max-width: 400px;
  color: rgb(108, 104, 254);
  font-size: 30px;
}

.calc2 label {
  text-align: left;
  display: block;
}

.calc2 input, .calculator textarea, .calculator select {
  float: left;
width: 100%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid;
box-sizing: border-box;
display: block;
}

.calc2 button {
  color: rgb(108, 104, 254);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.calculator img {
  border-radius: 50%;
  padding: 150px;
  float: left;
}

.calculator {
  text-align: center;
  margin: 0 auto;
  background-image: none; 
  max-width: 400px;
  color: rgb(108, 104, 254);
  font-size: 30px;
}

.calculator label {
  text-align: left;
  display: block;
}

.calculator input, .calculator textarea, .calculator select {
  float: left;
width: 100%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid;
box-sizing: border-box;
display: block;
}

.calculator button {
  color: rgb(108, 104, 254);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.photo {
  flex: 1;
  align-Items:'center';
  width:10%;
  height:100%;
  justify-Content:'center';
  
}

.Ev-Brightness-8 {
 Filter: brightness(20%);
}

.Ev-Brightness-5 {
  Filter: brightness(40%);
 }

 .Ev-Brightness-4 {
  Filter: brightness(60%);
 }

 .Ev-Brightness-9 {
  Filter: brightness(80%);
 }

 .Ev-Brightness-12 {
  Filter: brightness(100%);
 }

 .Ev-Brightness-15 {
  Filter: brightness(200%);
 }

 .Ev-Brightness-0 {
  Filter: brightness(0%);
 }